{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'moviemints/style.css' %}">

    <script src=  
    "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
        </script>  
        
        <script src=  
    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
        </script>  
        
        <link href=  
    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet" type="text/css" /> 

</head>
<body>
    <nav class="nav_bar">
        <div class="nav_div">
            <div class="nav_logo">
                <span><a href="/moviemints/home"><img src="{% static 'moviemints/images/MOVIEMINT.svg' %}" style="box-shadow: 5px 5px 8px;"></a></span>
            </div>
            <div class="nav_title">
                <a href="/moviemints/home" style="text-decoration:none;">
                    <span style="color:black;">MovieMints</span>
                </a>
            </div>
            <div class="nav_input">
                <input type="text" class="nav_bar_search">
            </div>
        </div>
    </nav>

    {% block content %}
        
    {% endblock %}
    <footer class="foot">
        <div class="div_foot_out">
            <div class="div_foot">
                <div>
                    <a href="#"><img style="width:70px;" src="{% static 'moviemints/images/emailicon.png' %}"></a>
                </div>
                <div>
                    <a href="https://github.com/aman1971"><img style="width:70px;" src="{% static 'moviemints/images/githubicon.svg' %}"></a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/aman-kumar-3394b81a0"><img style="width:70px;" src="{% static 'moviemints/images/linkdinicon.svg' %}"></a>
                </div>
            </div>
            <div class="div_name">
                <p style="margin:0px;"><span>Created by</span><br>
                    <span style="font-weight:bold;">AMAN KUMAR</span></p>
            </div>
        </div>
    </footer>
  <script src="{% static 'moviemints/base.js' %}"></script>
  <script>
      $( function() {
        var availableTags = [
        {% for movie in movie_name %}
            "{{movie.movie_name}}",
        {% endfor %}
        ];
        $( "#movie_name" ).autocomplete({
        source: availableTags
        });
    } );
  </script>
</body>