<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="corrected-movie" style="position: relative; top: 100px;">
        <div class="container corrected-card">
            {% for title,detail in corrected_movie.items() %}
            <div class="corrected-detail">
                <div class="corrected-img" style="height: 25rem;width: 16rem;"><a href='javascript:;'
                        onclick='recommend_movie(this);' title="{{title}}"><img src="{{detail[0]}}"
                            style="position: relative;height: 250px;"></a>
                    <button class="btn " style="background-color: blueviolet;" onclick='recommend_movie(this);'
                        title="{{title}}">Click
                        Here</button>
                </div>
                <div style="position: relative;left: 150px;width: 60%;">
                    <h2 style="position: relative;z-index: 9;"><span class="text-dark"
                            style="background-color: blueviolet;">{{title}}</span></h2>
                    <h4 style="color: white; position: relative; z-index: 9;">{{detail[1][:200]}}....</h4>
                    <div class="overlay"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>